@font-face {
    font-family: "ProximaNovaBold";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/Proxima Nova Bold.otf") format("otf");
    font-display: swap;
  }
  @font-face {
    font-family: "ProximaNova";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/ProximaNova-Regular.otf") format("otf");
    font-display: swap;
  }
body,
html,
#___gatsby,
#gatsby-focus-wrapper {
    height: 100%;
    width: 100%;
    color:black;
}
body > div, body > div > div{
    height: 100%;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 1.17;
}

form label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.22;
    margin-top: 8px;
}
form label.form-check-label{
    margin-top:2px;
}
form small.error-message{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-style: italic;
}
form .form-row{
    margin-right: -12px;
    margin-left: -12px;
}
.form-control, .form-control:focus{
    color: black;
    font-weight: 500;;
}

.btn.btn-primary {
    background: none;
    border: solid 2px white;
    width: 130px;
    max-width: 100%;
    border-radius: 0px;
    text-transform: uppercase;
    transition: all .5s;
    font-weight: normal;
    font-size: 12px;
    border-radius: 3px;
    font-family: 'ProximaNova', sans-serif;
}

.btn.btn-primary:hover {
    background: white;
    color: black;
}

#entry-form,
#age-gate .modal .modal-holder, #thank-you {
    background-color: rgba(255, 255, 255, .8);
    background-image: url('../images/leaves-6.png');
    background-size: cover;

    @media screen and (max-width: 820px) {
        padding: 0px 15px;
        background-image: url("../images/leaves-6@2x.jpg")
    }
    p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        line-height: 1.17;
        &.small{
            font-size: 14px;
        }
    }
    
    form,
    .modal-content {
        background: none;
        border: none;
        color: #fff;
        margin: 0 auto;
        max-width: 730px;
        .form-row>.col, .form-row>[class*=col-]{
            padding-right: 12px;
            padding-left: 12px;
        }
        img {
            width: 300px;
            margin: 0 auto;
            max-width: 300px;
            display: block;
        }
        .age-message{
            display: none;
        }
        .age-message.error{
            display: block;
        }
        .error-message{
            visibility: hidden;
        }
        .error-message.error{
            visibility: visible;
        }
        .error-message-valid{
            display: none !important;
            &.error{
                display: block !important;
            }
        }
        .form-group{
            text-align: left;
            margin-bottom: 6px;
            input {
                border-radius: 0px;
                background-clip:none;
            }
            select {
                border-radius: 0px;
                -webkit-appearance: none;
                border: none;
                background: #fff url('../images/down_arrow_2.png') no-repeat calc(100% - 3px) 50%;
                background-size: auto 30%;
                @media screen and (max-width: 768px) {
                    background-position: calc(100% - 10px) 50%;
                    background-size: auto 40%;

                }
            }
            select::-ms-expand {
                display: none;
            }
            
            label{
                margin-bottom: 0px;
            }
            small{
                display: block;
                font-style: italic;
            }
            .error-message{
                visibility: hidden;
                &.error{
                    visibility: visible;
                }
            }
            .form-check{
                input{
                    background:#fff;
                    border:none;
                    -webkit-appearance: none;
                    width:20px;
                    height: 20px;     
                }
                input:checked{
                    background:grey url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");                
                    background-size: 70%;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                label{
                    margin-left: 8px;
                    margin-top: 5px;
                    display: inline-block;
                }
            }
            &.error, .error.error-message{
                input, select{
                    border:1px solid red;
                }
                .error-message{
                    visibility: visible;                    
                }
                .form-check input{
                    outline:1px solid red;
                }
            }
        }
        
    }
}

#age-gate {

    .modal {
        margin:20px 20px;
        width: calc(100% - 40px);
        min-height: calc(100%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;        
        -webkit-overflow-scrolling: touch;
        max-height: 100%;
        @media screen and (max-width: 820px) {
            display: block;
        }
        .modal-holder{
            min-height: 70%;
        }
        .modal-content {
            margin-top: 30px;
            
            .modal-header {
                border: none;

                img {
                    width: 300px;
                    margin: 0 auto;
                    max-width: 300px;
                }
            }

            label {
                display: none;
                ;
            }
        }
        footer{
            padding-bottom: 35px;
            justify-self: flex-end;
        }
    }
}

#entry-form {
    margin: 20px 20px 0;
    max-width: calc(100% - 40px);

    form {
        button {
            display: block;
            margin: 0px auto;
        }
        
    }
}
.age-gate-open{
    overflow-y: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    #entry-form, footer, .content-container{
        visibility: hidden;
    }
    #age-gate footer{
        visibility: visible;
    }
    
}
#thank-you{
    margin:20px 20px 0;
    width: calc(100% - 40px);
    min-height: calc(100% - 121px);
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1{
        text-transform: uppercase;
        @media screen and (max-width: 375px) {
            font-size: 1.2rem;
        }
    }
    img{
        width: 300px;
        max-width: 90%;
    }
}
.footer {
    background: #fff;
    padding-bottom: 20px;
    .navbar {
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        text-transform: uppercase;
        @media screen and (max-width: 991px) {
            flex-direction: column;
            text-align: center;
            .navbar-brand{
                margin:0;
                margin-left: 15px;
            }
            #navbarNav {
                order:3
            }
        }
        #navbarNav {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 991px) {
                flex-direction: column;
                text-align: center;
                .navbar-nav {
                    .nav-link{
                       padding:0px; 
                       border-right:none;
                    }
                    
                }
            }
            .navbar-nav {
                
                a {
                    text-decoration: underline;
                    color:black;
                    border-right: 1px solid black;
                    padding-top:0;
                    padding-bottom:0;
                    margin-top:.3rem;
                    margin-bottom:.3rem;                    
                }
                li:last-child a{
                    border:none;
                }
                
            }
        }

        .social-links li {
            margin-left: 10px;
        }
        .navbar-brand img {
            width: 133px;
        }
    }

    
}

.privacy-policy{
    
    h1,h2,h3{
        font-size: 14px;
        line-height: 22px;
        font-weight: bold;
    }
    .header h1, .header h2{
        margin-bottom: 20px;
    }
    p{
        font-size: 14px;
        line-height: 22px;
        font-family: Arial, sans-serif;
    }
}